body {
	/*display: flex;*/
	/*flex-flow: column;*/
	/*width: 100vw;*/
	/*height: 100vh;*/
	/*overflow: hidden;*/
	align-items: center;
	justify-content: center;
	font-family: Helvetica,Arial,sans-serif;
	font-weight: 300;
}

.causeway-text {
	/*align-self: center;*/
	font-size: 14px;
	/*overflow: hidden;*/
	/*white-space: wrap;*/
	white-space: pre-line;

}

.causeway-text span {
	/*white-space: pre;*/
	display: inline-block;
}

.clicked{
	animation-name: zoomOutUp;
	animation-duration: 10s;
	animation-fill-mode: forwards;
}

@keyframes zoomOutUp{
	50%{
		opacity: 1;
		transform: scale3d(.475, .475, .475) translate3d(0px, 60px, 0);
		animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);

	}

	75%{
		transform: scale3d(.475, .475, .475) translate3d(-100px, -50px, 0);
	}

	100%{
		opacity: 0.5;
		transform: scale3d(.1, .1, .1) translate3d(200px, -2000px, 0);
		transform-origin: center bottom;
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	}
}
