body {
	/*display: flex;*/
	/*flex-flow: column;*/
	/*width: 100vw;*/
	/*height: 100vh;*/
	/*overflow: hidden;*/
	align-items: center;
	justify-content: center;
	font-family: Helvetica,Arial,sans-serif;
	font-weight: 300;
}

#causeway-text {
	/*align-self: center;*/
	font-size: 14px;
	/*overflow: hidden;*/
	/*white-space: wrap;*/
	white-space: pre-line;

}

#causeway-text span {
	/*white-space: pre;*/
	display: inline-block;
}

.myClass{
	animation-name: pulse;
	animation-duration: 3s;
	animation-fill-mode: forwards;
}

@keyframes pulse{
	0%{
		font-size: 1em;

	}

	75%{
		font-size: 2em;
	}

	100%{
		font-size: 2.1em;
	}
}
