body {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Vollkorn', serif;
	font-size: 1.2em;
	background-color: black;
	color: white;
}

#causeway-text {
	white-space: pre;
	font-size: 1.3em;
}

#causeway-text h1{
	white-space: pre;
	font-size: 2.0em;
}

.sw {
	text-align: center;
}

.sw p{
	font-size: 1.0em
}

.sw .url{
	font-size: 1.5em
}

#causeway-text span {
	display: inline-block;
}

.symbol {
	font-size: 3.0em;
}

small {
	font-size: 0.5em;
}

.phrase {
	opacity: 0.25;
	border-bottom: 0.2em solid black;
	padding: 0.1em;
}

@-webkit-keyframes zoomInUp {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }

  100% {
  	opacity: 1;
  }
}

@keyframes zoomInUp {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
  
  100% {
  	opacity: 1;
  }
}

.clicked{
	-webkit-animation-name: zoomInUp;
	animation-name: zoomInUp;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}